@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-size: 16px;
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    position:sticky;
    top:0;

}

.navbar-brand{
    font-size:1.5rem;
    color:rgb(0,0,0);
    font-style:italic;
    word-spacing: 0.5rem;
    letter-spacing: 0.25rem;
}
.navbar-brand:hover{
    color:black;
}
.nav-bar{

    text-align: center;
    padding-right: 20%;
}
.nav-link{
    text-transform: uppercase;
    padding:0 10px;
    transition: font-style 0.5s linear;
    margin-left:10px;
    margin-right:10px;
    color:black;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
     /*font-style:oblique;*/
     color:#ff5100;
     /*font-weight: bold;*/

}
.login a {
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
}
.search_input{
    height: 40px;
    width: 100%;
    margin-right: -30px;
    border-radius: 40px;
    border-right: none;
    outline:none;
    border:3px solid rgb(138, 25, 244);

}
#search_btn{
    height:40px;
    width:40%;
    border:none;
    background-color:rgb(138, 25, 244);
    outline:none;
    border-radius: 40px;
    color:white;
    
}
#search_btn:hover{
    transform: scale(0.98);
    outline: none;
    color:black;
}



.main{
    background-image:url("imgfolder/homeimg3.webp");
    background-size:cover ;
    width: 100%;
    height:90vh;
    background-repeat: no-repeat;
    background-position: 50% ;
    background-origin: border-box;
}
.main h1{
    padding-top:70px;
    font-size: 4rem;
    color:whitesmoke;

}
.main p{
    font-size:1.5rem;
    color:white;
}
.btn-shopnow{
   background-color: #ff5100;
   color:white;
   border: none;
   font-size:small;
   border-radius: 5px;
}
.btn-shopnow:hover{
    outline:none;
}
